# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
.vite/
.next/
out/

# Environment & secrets
.env
.env.*
!.env.example

# Hardhat
cache/
artifacts/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*
